.games-page{

    padding-left:32px;
    &__header{

        --font-size: 2.2rem;

        h1{
            font-size: var(--font-size);
            margin-bottom:0;
        }
        span{
            font-size: calc(var(--font-size) - 80%);
            opacity: 0.5;
        }
     text-align: left;
     margin-bottom:50px;
    }

}